@{
    var loggedIn = User.Identity.IsAuthenticated;

}

@if (loggedIn)
{
    <li class="nav-item col-2">
        <label>Hello, @User.Identity.Name</label>
    </li>
     <li class="nav-item col-2">
        <label>Department :  @User.Claims.FirstOrDefault(i=>i.Type=="Department").Value</label>
    </li>

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Identity" asp-action="Signout">Sign out</a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Identity" asp-action="Signin">Sign in</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Identity" asp-action="Signup">Sign up</a>
    </li>

}